.info {
    margin-top: 50px;
    text-align: center;
}

.title {
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
}

.firstWord {
    color: white;
    margin-right: 10px;
}

.secondWord {
    color: #daa520;
}

