.aboutMeSection {
    grid-area: 1 / 2 / 2 / 3;
}

.getInTouchSection {
    grid-area: 2 / 2 / 3 / 3;
}

.myPortfolioSection {
    grid-area: 2 / 1 / 3 / 2;
}

section a {
    text-decoration: none;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Lato, serif;
    height: 100%;
    border: none;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.firstPair {
    display: flex;
}

.secondPair {
    display: flex;
}

.text {
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.aboutOrange {
    color: #daa520;
    transform: translateY(0%);;
    opacity: 0;
}

.aboutWhite {
    color: white;
    transform: translateY(50%);;
    opacity: 1;
    margin-right: 10px;
}

.textContainer:hover .firstPair .aboutWhite {
    transform: translateY(-50%);
    opacity: 0;

}

.textContainer:hover .secondPair .aboutOrange {
    transform: translateY(-50%);;
    opacity: 1;
}


.meWhite {
    color: white;
    transform: translateY(0);
    opacity: 0;
}

.meOrange {
    color: #daa520;
    transform: translateY(-50%);
    opacity: 1;
    margin-left: 10px;
}

.textContainer:hover .firstPair .meWhite {
    transform: translateY(50%);
    opacity: 1;

}

.textContainer:hover .secondPair .meOrange {
    transform: translateY(50%);
    opacity: 0;
}