.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #111;
}

.container section {
    background: #222222;
}

.greetingsBlock {
    grid-area: 1 / 1 / 2 / 2;
}



.aboutMeSection {
    grid-area: 1 / 2 / 2 / 3;
}

.getInTouchSection {
    grid-area: 2 / 2 / 3 / 3;
}

.myPortfolioSection {
    grid-area: 2 / 1 / 3 / 2;
}

@media (max-width: 799px) {

    .container {
        display: flex;
        flex-direction: column;
    }
    .aboutMeSection, .getInTouchSection, .myPortfolioSection {
        flex-grow: 1;
    }
    .greetingsBlock {
        flex-grow: 3;
    }

}

