.projectsContainer {
    text-align: center;
    margin: 50px 20px 0;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 0 auto;

}

.projectImage {
    height: 300px;

}

.project1 {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.project1::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}

.project2 {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

.project2::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}


.project3 {
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}

.project3::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}

.project4 {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}

.project4::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}

.project5 {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}

.project5::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}
.project6 {
    grid-area: 2 / 3 / 3 / 4;
    position: relative;
}

.project6::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}


.project7 {
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
}

.project7::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}
.project8 {
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
}

.project8::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}

.project9 {
    grid-area: 3 / 3 / 4 / 4;
    position: relative;
}

.project9::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.3;
}

