.xMark {
    font-family: 'Lato', serif, Calibri, Arial;
    color: #777;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 43px;
    width: 25px;
    z-index: 100;
}